@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body
{
    background-color: #18122B;
    /* place-items: center; */
        /* display: grid;
        text-align: center;
        background: linear-gradient(135deg, black, #18122B, black); */
}
.add
{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 900px;
   background: #18122B;
   border-radius: 10px;
   padding: 40px 30px;
   box-shadow: -3px -3px 7px #ffffff73,
     2px 2px 5px rgba(94, 104, 121, 0.288);
    /* place-items: center; */
    display: grid;
}
h1{
    font-family: "Poppins", sans-serif;
    /* font-size: xx-large; */
    font-size: 250%;
    text-align: center;
    color: white;
    margin-top: 5%;
    font-weight: lighter;
}
.tb
{
    background: linear-gradient(0deg, #635985, #443C68 5%, #e4eff8 150%);
    font-family: "Poppins", sans-serif;
    color: white;
    /* color: #18122B; */
    font-size: 200%;
    font-weight: lighter;
}

.l1{
    font-family: "Poppins", sans-serif;
    color: white;
    /* font-size: xx-large; */
    font-size: 200%;
    font-weight: lighter;
}

.b1
{
  /* color:black; */
  background: linear-gradient(0deg, #635985, #443C68 5%, #e4eff8 150%);
  font-family: "Poppins", sans-serif;
  /* font-size: x-large; */
  font-size: 200%;
  margin-top: 20%;
  margin-left: 43%;
  margin-right: 45%;
  color: white;
  /* color: #18122B; */
  /* border: none; */
  cursor: pointer;
  border-radius: 0.8rem;
  height: 55px;
  width:20%;
}