<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/styledash.css">
    <title>Document</title>
</head>
<body class="body">
    <div class="small">
    </div>
    <div class="hl">

    </div>
    
    
        <div class="big">
            <div class="nave">
                <div class="dashboard"> 
                    <section class="navigation"> 
                      <aside class="sidebar">            
                        <nav class="nav">
                          <ul class = "nav-list">
                            <li class="active"><a href="#">CREATE PROJECT</a></li>
                            <li><a href="#">ADD MEMBER</a></li>
                            <li><a href="#">LOGOUT</a></li>
                          </ul>
                        </nav>
                      </aside>
                    </section> 
                </div> 
            </div>
            <div class="vl">

            </div>
            <div class="one">
                <div class="x">
                    <br>
                    <label class="heading"  id="" name="">Critical Task</label>
                    <br>
                    <br>
                    <li  style="list-style-type: none;"><a href="#" class="heading" style="font-size: 100%;" id="task" name="taskname">xyz</a></li>
                    <link>
                </div>
                <div class="hl">

                </div>
                <div class="y">
                    <br>
                    <label class="heading" id="" name="">Team Member</label>
                    <br>
                    <br>
                    <li style="list-style-type: none;"><a href="#" class="heading" style="font-size: 100%;" id="member" name="name">xyz</a></li> 
                </div>
            </div>
            <div class="vl">

            </div>
            <div class="task">
            </div>
            <div class="vl">

            </div>
            <div class="two">
                <div class="z">

                </div>
                <div class="hl">

                </div>
                <div class="w">
                    
                </div>
            </div>
        </div>
    
</body>
</html>